body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.subHeader {
    align-items: center;
display: grid;
grid-template-columns: 1fr, 1fr;

}

header {
    
    background-image: url('lake-vw.jpg');
    background-color: #380505;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.contact-info {
    margin-top: 1em;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 0.5em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    flex-direction: row;
    flex-wrap: inherit;
    margin: 1em;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}